div.container{
    max-width: 1000px;
    margin: 30px auto;
    text-align: center;
}
section.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid;
    border-color: #DDDDDD;
    border-radius: 4px;
}
section.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    float: right;
    margin: 11px 30px;
}
section.filters button:hover {
    opacity: 90%;
}
.locations, .amenities {
    height: 100%;
    width: 25%;
    float: left;
}
.locations {
    border-right: 1px solid #DDDDDD;
}
.locations h3, .amenities h3 {
    font-weight: 600;
    font-size: 16px;
    margin: 20px 0px 0px 30px;
    text-align: left;
}
.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin: 0px 0px 0px 30px;
    text-align: left;
}
.popover {
    display: none;
    background-color: #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    z-index: 1;
}
.popover h2 {
    font-size: 16px;
}
li {
    list-style-type: none;
    margin: 10px 0px;
}
.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}